@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');


/* Estilos para el contenedor principal */
.container {
    display: flex; /* Usar flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    min-height: 100vh; /* Ocupa al menos toda la altura de la ventana */
    padding: 20px; /* Espaciado alrededor */
    flex-direction: column; /* Asegura que los elementos hijos se apilen verticalmente */
}

/* Estilos para la tabla */
.home-vacas-table {
    height: auto; /* Permitir que la altura se ajuste automáticamente */
    width: 100%; /* La tabla ocupará el 80% del ancho disponible */
    border-collapse: collapse; /* Para un diseño más limpio */
}

.home-vacas-table th, .home-vacas-table td {
    border: 1px solid #ddd; /* Borde para celdas */
    padding: 8px; /* Espaciado interno */
    text-align: center; /* Centramos el texto */
}

.home-vacas-table th {
    background-color: #f2f2f2; /* Color de fondo para los encabezados */
}

.home-vacas-list-title {
    text-align: center; /* Centrar el título */
    margin-bottom: 20px; /* Espacio debajo del título */
}
